<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CookieS1</servlet-name>
        <servlet-class>com.cookiesDemo.CookieS1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieS2</servlet-name>
        <servlet-class>com.cookiesDemo.CookieS2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S1</servlet-name>
        <url-pattern>/S1</url-pattern>
    </servlet-mapping>
    <!--Servlet Declaration-->
    <servlet>
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>com.servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secondServlet</servlet-name>
        <servlet-class>com.servlets.SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>com.practice.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.practice.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>successServlet</servlet-name>
        <servlet-class>com.practice.SuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>navbarServlet</servlet-name>
        <servlet-class>com.practice.Navbar</servlet-class>
    </servlet>
    <!--mapping-->
    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>com.calci.S1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S2</servlet-name>
        <servlet-class>com.calci.S2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <url-pattern>/web1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secondServlet</servlet-name>
        <url-pattern>/web2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/web3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>successServlet</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>navbarServlet</servlet-name>
        <url-pattern>/navbar</url-pattern>
    </servlet-mapping>
    <!--Welcome Filelist-->
    <servlet-mapping>
        <servlet-name>S2</servlet-name>
        <url-pattern>/S2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieS1</servlet-name>
        <url-pattern>/CookieS1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieS2</servlet-name>
        <url-pattern>/CookieS2</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            home.html
        </welcome-file>
    </welcome-file-list>
</web-app>
